################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GracenoteSports/.vs/GracenoteSports/v15
/GracenoteSports/GracenoteSports/obj
/GracenoteSports/GracenoteSports/bin
/GracenoteSports/.vs
